/* FEATURED PAINTINGS SLIDER & GRID */

.featured-paintings-wrapper {
    position: relative;
}

/* Mobile Slider */
.featured-paintings-mobile {
    display: block;
}

.featured-paintings-desktop {
    display: none;
}

/* Swiper Container */
.featured-paintings-swiper {
    overflow: visible;
    padding: 0 0 2em 0;
}

.featured-paintings-swiper .swiper-wrapper {
    padding-left: 1em;
}

/* Swiper Slide - Peek Effect */
.featured-paintings-swiper .swiper-slide {
    opacity: 0.3;
    transition: opacity 0.4s ease;
    width: auto;
}

.featured-paintings-swiper .swiper-slide-active {
    opacity: 1;
}

/* Next slide peek - visible with lower opacity */
.featured-paintings-swiper .swiper-slide-next {
    opacity: 0.5;
}

/* Previous slide - barely visible */
.featured-paintings-swiper .swiper-slide-prev {
    opacity: 0.2;
}

/* Painting item in slider */
.featured-paintings-swiper .painting-item {
    margin-top: 0;
}

.featured-paintings-swiper .painting-item + .painting-item {
    margin-top: 0;
}

/* Desktop Grid (768px+) */
@media screen and (min-width: 768px) {
    .featured-paintings-mobile {
        display: none;
    }

    .featured-paintings-desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6em;
        margin: 2em 0;
    }

    .featured-paintings-desktop .painting-item {
        grid-template-rows: 330px repeat(3, auto);
        height: 100%;
    }

    .featured-paintings-desktop .painting-item + .painting-item {
        margin-top: 0;
    }
}

/* Touch feedback for mobile */
@media (hover: none) and (pointer: coarse) {
    .featured-paintings-swiper .swiper-slide {
        -webkit-tap-highlight-color: transparent;
    }
}
