/* SEKCJE */

.section--bar > .e-con-inner {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.section--whitespace > .e-con-inner {
    padding-top: 3em;
    padding-bottom: 4em;
}

@media screen and (min-width: 1024px) {
    .section--whitespace > .e-con-inner {
        padding-top: 6.5em;
        padding-bottom: 9.75em;
    }
}
