/* 
Theme Name: Hello Elementor Child
Theme URI: https://github.com/elementor/hello-theme-child/
Description: Hello Elementor Child is a child theme of Hello Elementor, created by Elementor team
Author: Elementor Team
Author URI: https://elementor.com/
Template: hello-elementor
Version: 2.0.0
Text Domain: hello-elementor-child
License: GNU General Public License v3 or later.
License URI: https://www.gnu.org/licenses/gpl-3.0.html
Tags: flexible-header, custom-colors, custom-menu, custom-logo, editor-style, featured-images, rtl-language-support, threaded-comments, translation-ready
*/

/* Add your custom styles here */

html {
    /* 16px na 320px → 18px na 1200px → 20px na 2560px */
    font-size: clamp(1rem, 0.857rem + 0.357vw, 1.25rem);
}

strong {
    font-weight: bold;
}

/* 3-STEP PLAN */

.elementor-widget-icon-box.elementor-position-left h4 {
    margin-top: 0;
}